body {
margin: 0;
padding: 0;	
background: url(/img/background.png);
font-family: Cabin, Arial, san-serif;
font-size: 12px;
color: #565656;
height: 100%;
border-top: 5px solid #00bdf6;
}

.error-message {
	color: #ff0000;
	font-size: 10px;
	margin-bottom: 10px;
}

a {
	color: #565656;
	text-decoration: none;
}

a:hover {
	color: #00bdf6;
}

.blue {
	color: #00bdf6;
}

#container {
	margin: 0;
}

#sidebar {
	position: relative;
	width: 200px;
	height: auto;
	z-index: 9999;
}

#main {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	padding-bottom: 20px;
}

#inner {
	margin-left: 200px;
}

#inner ul {
	margin: 0;
	padding: 0;
}

#inner h1 {
	margin: 0;
	margin-top: 25px;
	font-size: 39px;
	text-transform: lowercase;
	color: #565656;
}

h1 {
	font-size: 39px;
	margin: 20px;
}


#account,
#sections,
#about {
	width: 200px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 20px;
}

#account li,
#sections li,
#about li{
	width: 200px;
	list-style-type: none;
	text-align: right;
}

#account li a,
#sections li a,
#about li a{
	color: #565656;
	font-size: 14px;
	text-decoration: none;
	padding: 0;
	margin: 0;
	margin-right: 22px;
}

#account li a:hover,
#sections li a:hover,
#about li a:hover{
	color: #00bdf6;
}

#loginForm h1,
#registerForm h1 {
	margin: 0;
	padding: 0;
	font-size: 24px;
	text-align: center;
	font-family: Arial Black;
	margin-bottom: 10px;
	color: #16445e;
}

#loginForm,
#registerForm,
#editForm {
	width: 400px;
	padding: 20px;
	margin-top: 10px;
}

#UserLoginForm,
#UserRegisterForm,
#UserEditForm{ 
	width: 400px;
}

#UserLoginForm label,
#UserRegisterForm label,
#UserEditForm label{
	display: block;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 2px;
	color: #565656;
}

#UserLoginForm input,
#UserRegisterForm input,
#UserEditForm input {
	display: block;
	font-size: 12px;
	margin-bottom: 5px;
	border: 2px solid #565656;
	width: 385px;
	border-radius: 5px;
	outline: none;
	padding: 5px;
}

#UserLoginForm input[type=submit] {
	border-radius: 5px;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background: #16445e;
	border: none;
	margin-top: 12px;
	color: #16445e;
	font-size: 12px;
	font-weight: bold;
	width: auto;
	color: #fff;
	cursor: pointer;
}

#UserRegisterForm input[type=submit],
#UserEditForm input[type=submit] {
	border-radius: 5px;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background: #16445e;
	border: 1px solid #ccc;
	margin-top: 20px;
	color: #16445e;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	width: auto;
	cursor: pointer;
}

#UserLoginForm a,
#UserRegisterForm a,
#UserEditForm a {
	border-radius: 5px;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background: #16445e;
	border: 1px solid #ccc;
	margin-top: 12px;
	color: #16445e;
	font-size: 12px;
	font-weight: bold;
	width: 175px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.product {
	position: relative;
	list-style-type: none;
	display: block;
	float: left;
	height: 250px;
	margin-right: 10px;
	margin-top: 10px;
	overflow: hidden;
}

.product_inner {
	width: 100%;
}

.product_page {
	position: relative;
	list-style-type: none;
	display: block;
	float: left;
	height: 250px;
	margin-right: 10px;
	margin-top: 10px;
}

.product:hover {
	background: #565656;
}

.product img {
	display: block;
	height: 250px;
}

.product_info {
	background: rgba(0,0,0,.75);
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	display: none;
}

.product_name {
	color: #fff;
	font-size: 12px;
	margin: 0px;
	padding: 2px 5px 0px 5px;
	display: block;
}

.product_price {
	color: #fff;
	font-size: 12px;
	margin: 0px;
	padding: 2px 5px;
	display: block;
}

.added_by {
	color: #fff;
	font-size: 10px;
	margin: 0px;
	padding: 2px 5px;
	display: inline-block;
}

.added_by a{
	color: #00bdf6;
}

.expand {
	color: #fff;
	position: relative;
	float: right;
	font-size: 14px;
	margin-top: 0px;
	margin-right: 4px;
	padding: 5px;
}

.expand_box {
	height: 50px;
	color: #fff;
	font-size: 12px;
	margin: 0px;
	background: #000000;
	width: 200px;
	text-align: center;
}

.expand_links{
	text-align: center;
	width: 100%;
}

.expand_box a{
	color: #fff;
	font-size: 12px;
	margin: 2px;
}

.expand_box a:hover{
	color: #00cdf6;
}

.user_image {
	border-radius: 5px;
	display: block;
	margin: auto;
	height: 50px;
	width: 50px;
	margin-bottom: 5px;
}

.user_box {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	max-width: 100px;
}

.user_box p{
	width: 100px;
	margin: 0;
}

.user_info {
	margin-top: 20px;
}

.edit_account {
	border-radius: 5px;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background: #16445e;
	border: 1px solid #ccc;
	margin-top: 12px;
	color: #16445e;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.edit_account:hover {
	color: #fff;
}

.user_info td{
 	width: 100px;
	vertical-align: middle;
	padding-bottom: 10px;
}

.user_info img{
	margin: 0;
}